<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    body {
      padding: 2em 10vw;
    }
  </style>
</head>
<body>
  <div id="app">

    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/rooms">Show Rooms</router-link>
      <router-link to="/rooms/add">Add Room</router-link>
    </nav>

    <hr />

    <router-view>
    </router-view>
  </div>

  <script>

    // App Components
    const Index = { template: "<div><h1>Welcome</h1></div>"}
    const Rooms = {
      template: `<div>
    <h1>{{ title }}</h1>
    <h3>No. of rooms: {{ rooms.length }}</h3>
    <ol>
      <li v-for="room in rooms">
        <router-link :to="{ name: 'show-one-room', params: { id: room.ID } }">
          <b>{{ room.RoomName }}</b> &mdash;
          <em>({{ room.SeatingCapacity }} pax)</em>
        </router-link>
      </li>
    </ol></div>
      `,
      data: function(){
        return {
          title: 'Available Hotel Rooms',
          rooms: []
        }
      },
      mounted: function () {
        console.info('Rooms component mounted')
        jQuery.get('http://localhost:3000/rooms')
          .done((response) => {
            this.rooms = response
          })
      }      
    }
    const AddRoom = { template: "<div><h1>Add Room</h1></div>"}
    const Room = { 
      template: `<div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="2"><h2>Room Name: {{room.RoomName}}</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Seating Capacity</th>
                  <td>{{room.SeatingCapacity}}</td>
                </tr>
                <tr>
                    <th scope="row">Has Projector</th>
                    <td>{{room.HasProjector}}</td>
                </tr>
                <tr>
                    <th scope="row">Has Internet</th>
                    <td colspan="2">{{room.HasInternet}}</td>
                </tr>
                <tr>
                    <th scope="row">Has Podium</th>
                    <td colspan="2">{{room.HasPodium}}</td>
                </tr>
                <tr>
                    <th scope="row">Room Size</th>
                    <td colspan="2">{{room.RoomSize}}</td>
                </tr>
            </tbody>
        </table>
        <router-link to="/rooms"><-- Back to rooms</router-link>
        </div>`,
      data: function () {
        return {
          room: {}
        }
      },
      mounted: function () {
        console.info('Room component mounted')
        const roomId = this.$route.params.id
        jQuery.get(`http://localhost:3000/rooms/${roomId}`)
          .done((response) => {
            this.room = response[0]
          })
      }      
    }

    // App Routes
    const routes = [
      { path:'/', component: Index },
      { path:'/rooms', component: Rooms },
      { path:'/rooms/add', component: AddRoom },
      { name: 'show-one-room', path:'/rooms/:id', component: Room }
    ]

    // Init VueRouter
    const router = new VueRouter(
      { routes: routes }
    )

    // Initialize our Vue Application
    const app = new Vue({
      router: router
    }).$mount('#app')
    
    /*
    const app = new Vue({
      el: '#app',
      created: function() {
        console.info('App created')
      },
      mounted: function() {
        console.info('App mounted')
      },
      updated: function() {
        console.log('App updated')
      },
      computed: {
        peopleResults() {
          let tempArr = []
          for (let i = 0; i < this.people.length; i++) {
            if (this.people[i].name.toLowerCase().match(this.search.toLowerCase())) {
              tempArr.push(this.people[i])
            }
          }
          return tempArr
        }
      },
      data: {
        room: {
            RoomName: '',
            SeatingCapacity: '',
            HasInternet: '',
            HasPodium: '',
            HasProjector: '',
            RoomSize: ''
        }
      },
      methods: {
        toggle: function () {
          this.seen = !this.seen
        },
        submitForm: function (event) {
            if(event){
                event.preventDefault()
            }
            // Do AJAX request here
            jQuery.post('http://localhost:3000/rooms', this.room)
            .done(response => {
                console.log(response)
            })
        }
      },
    }) */
  </script>
</body>
</html>