<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{message}}</p> -->
<!--    <span v-if="seen">Now you see me</span>
    <button v-on:click="toggle">Toggle Visibility</button>
    <input v-model="message"> -->
    <input v-model="search" placeholder="Search by name">
    <hr />
    <h2>Results for: {{ search }}</h2>
    <hr />
    <!-- <h3>No. of people: {{ peopleResults.length }}</h3>
    <ol>
      <li v-for="person in peopleResults">
        <b>{{ person.name}}</b> &mdash;
        <em>{{ person.location }}</em>
      </li>
    </ol> -->
    <h3>No. of rooms: {{ rooms.length }}</h3>
    <ol>
      <li v-for="room in rooms">
        <b>{{ room.RoomName }}</b> &mdash;
        <em>({{ room.SeatingCapacity }} pax)</em>
      </li>
    </ol>

    <form>
      <input v-model="rooms[0].RoomName" placeholder="edit me">
      <button>Add room</button>
    </form>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      created: function() {
        console.info('App created')
      },
      mounted: function() {
        console.info('App mounted')
        $.get('http://localhost:3000/rooms')
        .done((response) => {
          console.log(response)
          this.rooms = response
        })
      },
      updated: function() {
        console.log('App updated')
      },
      computed: {
        peopleResults() {
          let tempArr = []
          for (let i = 0; i < this.people.length; i++) {
            if (this.people[i].name.toLowerCase().match(this.search.toLowerCase())) {
              tempArr.push(this.people[i])
            }
          }
          return tempArr
        }
      },
      data: {
        title: "This is a title",
        subtitle: "This is a subtitle",
        message: 'Hello Vue-ers!',
        seen: true,
        search: '',
        people: [
          {name: 'Paul Bombo', age: 10, location: 'Mombasa'},
          {name: 'Peter', age: 40, location: 'Nairobi'},
          {name: 'John', age: 16, location: 'Nakuru'},
        ],
        rooms: []
      },
      methods: {
        toggle: function () {
          this.seen = !this.seen
        }
      },
         _mounted() {
        var that = this;
        $.get('http://localhost:3000/rooms')
        .done(function(data) {
          console.log(this, that)
          this.results = response.data
        })
      }
    })
  </script>
</body>
</html>